{{- $params := .Scratch.Get "params" -}}

<meta name="Description" content="{{ $params.description | default .Site.Params.description }}">

{{- template "_internal/opengraph.html" . -}}
{{- template "_internal/twitter_cards.html" . -}}

<meta name="application-name" content="{{ .Site.Params.app.title | default .Site.Title }}">
<meta name="apple-mobile-web-app-title" content="{{ .Site.Params.app.title | default .Site.Title }}">

<!-- Google Search console-->
<!-- <meta name="google-site-verification" content="KS_dOZtV_5B-IK0fS7_bLtPX8Z2ksGykoho030mOyKs" /> -->
<meta name="google-site-verification" content="eLqyULfF4eFc-6qJq-1qG1w6hANq502kFeAeC7dnOPQ" />
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-N9KXPJ8QG1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-N9KXPJ8QG1');
</script>
<!-- Google Adsense Meta-->
<meta name="google-adsense-account" content="ca-pub-4901388578095734">

<!-- Yandex Meta -->
<meta name="yandex-verification" content="caed9d5f979ea249" />

<!-- KaKao Addfit-->
<script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>

{{- with .Site.Params.app.themeColor -}}
<meta name="theme-color" content="{{ . }}">
{{- end -}}

{{- with .Site.Params.app.tileColor -}}
<meta name="msapplication-TileColor" content="{{ . }}">
{{- end -}}